.contract-actions {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.contract-action {
    color: #000;
    width: 33%;
    padding: 1rem 2rem;
    border-radius: .75rem;
    /* opacity: 70%; */
}

.contract-submit {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    width: 100%;
}

.contract-submit:hover {
    background-color: rgb(31, 89, 206);
}

.contract-submit:disabled {
    color: #000;
    background-color: grey;
}

.lock {
    background-color: #fbe230;
}

.claim {
    background-color: #347c17;
}

.title {
    font-family: 'Ming';
    font-size: 2.5rem;
}